name: test-deploy-book

# Only run this when a pull-request is sent to main
on:
  pull_request:
    branches:
    - main

# This job installs dependencies, builds the book
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2


    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'



    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Run data normalizer
    - name: Run data normalizer
      run: |
        python scripts/data_normalizer.py

    # Build the book
    - name: Build the book
      run: |
        python scripts/generate_link_lists.py
        python scripts/export_csv.py
        jupyter-book build docs/

